.loading-overlay{
  position:fixed;
  inset:0;

  background:rgba(0,0,0,.75);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:999999;
}

.loading-box{

  background:#202020;

  border-radius:20px;

  padding:35px;

  min-width:260px;

  text-align:center;

  color:#fff;

  box-shadow:0 15px 40px rgba(0,0,0,.4);
}

.loading-spinner{

  width:55px;
  height:55px;

  margin:auto;

  border:5px solid rgba(255,255,255,.15);

  border-top:5px solid #ff2b2b;

  border-radius:50%;

  animation:spin .8s linear infinite;
}

.loading-box h3{

  margin-top:20px;
  margin-bottom:8px;
}

.loading-box p{

  color:#cfcfcf;
}

@keyframes spin{

  to{
    transform:rotate(360deg);
  }

}